body{
    background-color: #f7f7f7 !important;
    font-family: 微软雅黑;
}
.container{
    min-width: 90%;
}
h3{
    text-align: center;
    font-size:24px; 
    cursor: pointer;
    font-family: 微软雅黑 !important;
}
/*  */
/*  */
/* nav */
.navbar-default{
    background-color: #f7f7f7 !important;
    border-color: #f7f7f7 !important;
    margin: 20px 0;
}
.navbar-brand{
    padding:0 !important;
}
.head ul{
     margin-left: 5em !important; 
}
.head ul li a{
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: bold;
    /* color: #000 !important; */
    padding: 10px 15px !important;
}
 .head ul li a:hover{
    color: #61ca66 !important;
} 
.navbar-brand{
    padding: 0 !important;
}
.head-right{
    margin-top: 3px;
    float: right;
    display: block;
    padding: 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #fff
}
.head-right:hover{
      box-shadow: 1px 1px 4px 2px rgba(50,50,50,0.6);
}
.head-right a{
    color: #06ca68;
    font-size: 16px;
}
.head-right a:hover{
    text-decoration: none;
    color: #06ca68;;
}
/* 底部 */
.foot{
    background-color: #323232;
}
.foot img{
    width: 100%;
}
.foot-logo{
    margin-left: 3rem;
}
.foot-logo img{
    margin-top: 3rem;
}
 .foot-in{
    margin-left: 2rem !important;
    margin-top: 2rem !important;
} 
.foot-links{
    padding: 0;
}
.foot-links li{
    line-height: 28px;
    width: fit-content;
}
.foot-links a{
    color: #aeaeae;
    font-family: 微软雅黑;
}
.foot-links a:hover{
    color: #f1f1f1;
    text-decoration: none; 
}
.ul li{
    list-style: none;
}
.td a{
    color: #f1f1f1;
    list-style: none;
}
.td{
    height: 4rem;
     line-height: 0rem; 
}
.tb span{
    border: 1px solid;
    border-radius: 100px;
    padding: 3px;
    display: inline-block;
}
.qq,
.weixin{
    text-align: center;
}
.weixin span,
.qq span{
    color: #919191;
    font-size: 12.34px;
}
.weixin span:hover,
.qq span:hover{
    color: #f1f1f1;
}
.qq a:hover,
.weixin a:hover{
    text-decoration: none !important;
}
.foot-bottom{
    padding-bottom: 2em;
}
.foot-bottom-left{
    margin-left: 3rem;
    color: #aeaeae;
}
.foot-bottom-right{
    color: #aeaeae;
    font-size: 12px;
}
.text-primary{
    color: rgb(174, 174, 174) !important;
}
.text-primary:hover{
    color: #f1f1f1;
}
.case,
.foot{
    margin-top: 30px;
}
#popover{
    display: block;
    position: relative;
    width: 150px;
    margin-top: 0 !important;
}
#popover span{
    left: 18%;
}
.arrow{
    left: 18%;
}
.popover-content{
    padding: 0 !important;
}
.popover-content a{
    color: blue;
    margin-left: 10px; 
}
.popover-content a:hover{
    color: blue;
}
/*悬浮区  */
.suspension{
    position: fixed;
    right: 0;
    bottom: 20px;
    height: 230px;
    width: 56px;
    border:1px solid #fff;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: -1px 0px 9px #dedede;
}
.suspension a:hover{
    text-decoration: none;
}
.up,
.pre-sale,
.customer-service{
    height: 74px;
}
.up img{
    height: 15px !important;
    width: 28px !important;
    top: 28px !important;
    left: 15px !important;
} 
.text-prompt1{
    height: 48px;
    width: 48px;
    position: relative;
    bottom: 5px;
    left: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    opacity: 0.0;
}
.suspension img,
.suspension span{
    position: relative;
    top: 13px;
    left: 4px;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #707070;
    z-index: -1;
}
.division{
    height: 1px;
    width: 28px;
    text-align: center;
    margin: 0 15px;
    background-color: #ddd;
}
.text-prompt{
    height: 48px;
    width: 48px;
    position: relative;
    bottom: 31px;
    left: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    opacity: 0.0;
    letter-spacing: 1px;
}
.text-prompt1:hover,
.text-prompt:hover{
    opacity: 1;
    text-decoration: none;
    color: black;
}
/* 弹窗 */
.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=88);
}
.white_content {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 55%;
    height: 55%;
    padding: 20px;
    z-index: 1002;
    overflow: auto;
    border: 1px solid orange;
    background-color: white;
}
.white_content span{
    float: right;
    color: #7e7373;
    cursor: pointer;
    font-size: 16px;
    border:0;
}
#popover{
    display: block;
    position: relative;
    width: 150px;
    margin-top: 0 !important;
}
#popover span{
    left: 18%;
}
.arrow{
    left: 18%;
}
.popover-content{
    padding: 0 !important;
}
.popover-content a{
    color: blue;
    margin-left: 10px; 
}
.popover-content a:hover{
    color: blue;
}