html{
    font-size: 10px;
} 
body{
    background-color: #f7f7f7 !important;
    font-family: 微软雅黑;
    min-width: 580px;
}
.container{
    min-width: 90%;
}
h3{
    text-align: center;
    font-size:2.4rem; 
    cursor: pointer;
    font-family: 微软雅黑 !important;
}
/*  */
@media only screen and (min-width: 980px) and (max-width:981px){
    html {
        font-size: 22px !important;
    }
    .container{
        width: 96% !important;
    }
    /* nav */
    .head-right{
        display: none !important;
    }
    .head ul{
        float: right !important;
        margin-left: 5em !important;
    }
    nav.head{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1001;
    }
    .head ul li a{
        font-size: 1.5rem !important;
        padding: 20px 14px !important;
    }
    .product2,
    .vrsionDisplay,
    .bg-anli,
    .synopses-bg,
    .slider,
    .ding,
    .xz,
    .bg-lw{
        margin-top: 95px !important;
    }
    .xz-bg-ash>p {
        line-height: 2;
        width: 85%;
        font-size: 1.5rem;
        margin-left: 10%;
    }
    .machine{
        height: 0 !important;
    }
    /* about */
    .theHeadlines{
        display: none;
    }
    /* .slide img{
        height: 420px !important;
    } */
    .horn img{
        width:240px;
        height: 240px;
    }
    .slider{
        padding-right:35px;
    }
    .exhibition-main p{
        font-size: 1.4rem;
    }
    .e-content{
        display: none;
    }
    .e-content2{
        display: block !important;
        margin-top: 110px !important;
    }
    .case{
        margin-top: 50px !important;
    }
    .case-h3{
        display: block !important;
        margin-top: 50px !important;
    }
    .c-zz{
        padding-top: 35px;
    }
    /*foot  */
    .foot{
        display: none !important;
    }
    .footer2{
        display: block !important;
    }
    .f-img{
        max-width: 670px !important;
        height: 115px !important;
    }
    .f-img img{
        height: 100px !important;
    }
    .f-img p{
        font-size: 1rem !important;
    }
    .banb-text{
        font-size: 1.7rem !important;
    }
    .carousel-inner h3{
        font-size: 3.5rem !important;
    }
    .more a{
        font-size: 1.3rem !important;
    }
    .foot-links a{
        font-size: 1.2rem !important;
    }
    /*功能  */
    .product{
        display: none;
    }
    .p-head p{
        width: 80% !important;
        margin-left: 10% !important;
        font-size: 1.5rem!important;
    }
    .product2{
        display: block !important;
    }
    .p-head img{
        width: 30%;
    }
    .security{
        margin-top: 150px;
    }
    /*产品价格  */
    .freeAdmission p{
        font-size: 1.5rem !important;
        margin-top: 90px;
    }
    .vrsionDisplay p{
        height: 230px;
        line-height: 46px;
    }
    .tc-block{
        display: none !important;
    }
    /*ding  */
    .ding-h2{
        font-size: 2.3rem !important;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .ding-h3{
        font-size: 1.7rem !important;
    }
    .ding-main p{
        font-size: 1.4rem !important;
    }
    .learnMore{
        padding: 20px 35px;
    }
    .learnMore{
        height: auto;
    }
    .learnMore h4 p{
        padding-top: 22px;
        color: #525252;
    }
    .us>h5{
        font-size: 1.4rem;
    }
    .ding-dis{
        display: none;
    }
    .y-ding{
        display: block;
    }
    .ding-cont,
    .ding-content{
        margin: 100px;
        box-shadow:0 0 0 #fff;
    }
    /*us  */
    .circular{
        border:0px solid #06ca68;
    }
    .circular i{
        display: none;
    }
    .us-more{
        display: inline-block !important;
    }
    /*合作案例  */
    .bg-anli{
        margin-top: 355px;
        height: 355px !important;
    }
    .anli-h2{
        font-size: 1.6rem !important;
        margin-top: 115px !important;
    }
    .anli-bg-content{
        padding: 0px !important;
    }
    .frame{
        border:0 solid !important;
    }
    .th a{
        padding-left: 0 !important;
        padding-right:0 !important;
    }
    .panel-footer{
        height: 70px !important;
    }
    .panel-footer
    .panel-body a span{
        font-size: 1.6rem;
    }
     
    .panel-footer span{
        font-size: 1.5rem;
    }
    .coo-panel p,
    .panel-footer span{
        color: #525252 !important;
    }
    #coo_cont .col-md-4{
        margin-top: 70px;
    }
    /*关于我们  */
    .synopses-conten h2{
        top: 40px !important;
    }
    .synopses-conten p{
        top: 60px !important;
        font-size: 1.4rem !important;
    }
    /*long  */
    .lw-bg-content{
        width: 70%;
    }
    .lw-problem{
        padding: 0 10%;
    }
    .lw-h2{
        font-size: 2.2rem !important;
        font-size: 700;
    }
    .lw-h3{
        font-size: 1.6rem !important;
    }
    .shaer{
        display: none;
    }
    .caption
    .lw-bg-content{
        line-height: 336px !important;
    }
    .lw-h2{
        line-height: 336px;
    }
    /*float  */
    .suspension{
        height: 300px !important;
        width: 80px !important;
    }
    .up, 
    .pre-sale, 
    .customer-service{
        height: 99px !important;
    }
    .suspension img, 
    .suspension span{
        top: 15px !important;
        left: 7px !important;
        height: 64px !important;
        width: 64px !important;
    }
    .text-prompt{
        height: 64px !important;
        width: 64px !important;
        bottom: 42px !important;
        left: 7px !important;
        font-size: 20px !important;
    }
    .up>a>img{
        height: 20px!important;
        width: 36px!important;
        top: 35px!important;
        left: 23px!important;
    }
    .text-prompt1{
        height: 64px !important;
        width: 64px !important;
        bottom: 3px !important;
        left: 10px !important;
        font-size: 20px !important;
    }
    .division{
        width: 47px !important;
    }
    #close{
        font-size: 90px !important;
    }
    .float-form{
       top: 92px !important;
       width: 100% !important;
       height: 100% !important;
    }
    /*porduct  */
    .Product-show{
        padding-top: 130px;
    }
    .cloud{
        padding:50px 5%;
    }
    .cloud-main h2{
        font-size: 2.1rem;
    }
    .cloud-main p{
        font-size: 1.4rem;
    }
    .colud-ul{
        padding: 20px 75px;
    }
    .colud-ul li{
        font-size: 1.5rem;
        line-height: 66px;
    }
    .cloudHost span{
        font-size: 1.4rem;
    }
    .cloud-content{
        width: 100% !important;
    }
    /*知识库  */
    .lb-coo-proj{
        position: relative;
        width: 80% !important;
        overflow: hidden;
        float: left;
        left: 20%;
    }
    /*knowLedge  */
    .m-enterprise{
        margin-top: 90px;
    }


    .k-summ-main h4{
        font-size:2rem;
    }
    .k-summ{
        margin-top: 100px;
    }
    .k-summ-main p{
        width: 80%;
        margin-left: 10% !important;
        font-size: 1.4rem !important;
    }
    .k-summ h3{
        font-size: 1.5rem;
    }
    .k-structure-main{
        top: 70%;
    }
    .k-card-main{
        top: 58%;
    }
    .k-card-cont p{
        font-size: 1.4rem;
        margin-bottom: 50px;
    }
    .k-st-cont p{
        font-size: 1.4rem;
    }
    .k-structure-cont th{
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
    }
    .k-structure-cont td{
        font-size: 1.6rem;
        padding: 3% 1%;
    }
    .k-st-cont h3{
        font-size: 2rem;
    }
    .k-st-cont{
        width: 100%;
    }
    .k-structure-cont{
        width: 100%;
    }
    .k-card-cont{
        width: 100%;
    }
    .k-card-img{
        width: 100%;
    }
    .k-card-zsk-zh img{
        width: auto;
        left: 33%;
    }
    .k-card-zsk-mb{
        width: auto;
        left: 0%;
    }
    .k-card-zsk-mb img{
        width: auto;
    }
    .k-card-zsk-zh img{
        width: auto;
    }
    .k-card-img-top{
        left: 0;
    }
    /*  */
    .m-sto-main img{
        padding-top: 30px;
    }
    .m-prog-title p{
        width: 100%;
    }
    .m-img img{
        width: 50%;
    }
    .m-exp-img{
        padding: 0 35px;
        display: none;
    }
    .m-prog-content{
        width: 100%;
    }
    .m-sto-main img{
        margin-top: 35px;
    }
    .m-exp-img img{
        margin: 35px 0;
    }
    .m-exp-yd-img{
        margin:50px 0;
    }
    .m-ent-cont span{
        font-size: 1.5rem;
    }
    .m-ent-cont h2{
        font-size: 2.3rem;
    }
    .m-prog-title h3{
        font-size: 2.3rem;
    }
    .m-prog-cont span{
        line-height: 2;
    }
    .m-ent-cont p{
        font-size: 1.7rem;
    }
    .m-prog-title p{
        font-size: 1.5rem;
    }
    /*  */
    .m-product-con h5{
        font-size: 1rem !important;
    }
    .n-sto-main h3{
        margin-top: 0;
    }
}
@media screen and (max-width: 1092px) {
    .d-cont{
        text-align: center;
    }
    .ding-h2{
        margin: 0 auto !important;
        text-align: center;

    }
    .ding-h3{
        display:inline-block;
        text-align: center;
    }
    .ding-p{
        text-align: center;
    }
     .explain2{
        display: block;
    }
    .explain{
        display: none;
    }
    .m-sto-main img{
        margin-top: 35px;
    }
    
    
    
    
}
@media only screen and (max-width: 940px) {
    .head ul{
        margin-left: 5em !important;
    }
    .m-prog-title p{
        width: 100% !important;
    }
}

@media only screen and (max-width: 767px){
    .suspension{
        display: none;
    }
    .head-right{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .head ul li a{
        display: inline-block;
    }
    .machine{
        height:0;
    }
    .m-img img{
        width: 50%;
    }
    .content{
        padding: 40px 10px !important;
    }
}


/*  */
/* nav */
.navbar-default{
    background-color: #f7f7f7 !important;
    border-color: #f7f7f7 !important;
    padding: 20px 0;
    margin-bottom: 0px !important;
}
.navbar-brand{
    padding:0 !important;
}
.head ul{
     margin-left: 20%; 
}
.head ul li a{
    font-family: 微软雅黑;
    font-size: 1.6rem;
    font-weight: bold;
    /* color: #000 !important; */
    padding:20px 15px;
}
 .head ul li a:hover{
    color: #61ca66 !important;
} 
.head-right{
    margin-top: 3px;
    float: right;
    display: block;
    padding: 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #fff
}
.head-right:hover{
      box-shadow: 1px 1px 4px 2px rgba(220,220,220,0.6);
}
.head-right a{
    color: #06ca68;
    font-size: 1.6rem;
}
.head-right a:hover{
    text-decoration: none;
    color: #06ca68;;
}
#prod{
    position: initial;
    cursor: pointer;
}
.n-product-img img{
    width: 100%;
}
/*  */
/* 底部 */
.foot{
    background-color: #323232;
}
.foot img{
    width: 100%;
}
.foot-logo{
    margin-left: 42px;
}
.foot-logo img{
    margin-top: 42px;
    display: block;
}
 .foot-in{
    margin-left: 28px !important;
    margin-top: 28px !important;
} 
.foot-links{
    padding: 0;
}
.foot-links li{
    line-height: 28px;
    width: fit-content;
    color: #aeaeae;
    list-style: none;
}
.foot-links a{
    font-size: 1.4rem;
    color: #aeaeae;
    font-family: 微软雅黑;
}
.foot-links a:hover{
    color: #f1f1f1;
    text-decoration: none; 
}
.ul li{
    list-style: none;
}
.td{
    color: #f7f7f7 !important;
    list-style: none;
    height: 56px;
    line-height: 0px; 
}
.tb span{
    border: 1px solid;
    border-radius: 100px;
    padding: 3px;
    display: inline-block;
}
.qq,
.weixin{
    text-align: center;
}
.weixin span,
.qq span{
    color: #919191;
    font-size: 1.2rem;
}
/* .weixin span:hover,
.qq span:hover{
    color: #f1f1f1;
} */
.qq a:hover,
.weixin a:hover{
    text-decoration: none !important;
}
.foot-bottom{
    padding-bottom: 2em;
}
.foot-bottom-left{
    font-size: 1.4rem;
    margin-left: 42px;
    color: #aeaeae;
}
.foot-bottom-right{
    color: #aeaeae;
    font-size: 1.2rem;
}
.text-primary{
    color: rgb(174, 174, 174) !important;
}
.text-primary:hover{
    color: #f1f1f1;
}
.case,
.foot{
    margin-top: 30px;
}
#popover{
    display: block;
    position: relative;
    width: 150px;
    margin-top: 0 !important;
}
#popover span{
    left: 18%;
}
.arrow{
    left: 18%;
}
.popover-content{
    padding: 0 !important;
}
.popover-content a{
    color: blue;
    margin-left: 10px; 
}
.popover-content a:hover{
    color: blue;
}
/*footer2  */
.footer2{
    display: none;
    margin-top: 35px;
    overflow: hidden;
}
.f-main{
    background-color:#0261cc;
}
.f-img{
    max-width: 520px;
     height: 96px; 
    color: white;
}
.f-img img{
    height: 80px;
    float: left;
    padding-top: 12px;
    margin-right: 10px;
}
.f-img h4{
    font-size: 1.5rem;
    padding-top:22px;
    margin: 0 !important;
}
.f-img p{
    font-size: 1.2rem;
}
.f-bg-h{
    background-color: #313231;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.f-bg-h span{
    font-size: 1.2rem;
    color: #aeaeae;
}

/*悬浮区  */
.suspension{
    position: fixed;
    right: 0;
    bottom: 20px;
    height: 230px;
    width: 56px;
    border:1px solid #fff;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: -1px 0px 9px #dedede;
}
.suspension a:hover{
    text-decoration: none;
}
.up,
.pre-sale,
.customer-service{
    height: 74px;
}
.up img{
    height: 15px !important;
    width: 28px !important;
    top: 28px !important;
    left: 15px !important;
} 
.text-prompt1{
    height: 48px;
    width: 48px;
    position: relative;
    bottom: 5px;
    left: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    opacity: 0.0;
}
.suspension img,
.suspension span{
    position: relative;
    top: 13px;
    left: 4px;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 4rem;
    line-height: 40px;
    color: #707070;
    z-index: -1;
}
.division{
    display: none;
    height: 1px;
    width: 28px;
    text-align: center;
    margin: 0 15px;
    background-color: #ddd;
}
.text-prompt{
    height: 48px;
    width: 48px;
    position: relative;
    bottom: 31px;
    left: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    opacity: 0.0;
    letter-spacing: 1px;
}
.text-prompt1:hover,
.text-prompt:hover{
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
    color: black;
}
.float-form{
    display: none;
    position:fixed;
    width: 400px;
    height:600px;
    right: 0;
    top: 0;
    background-color: wheat;
    z-index: 1000;
}
#close{
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}
/* 弹窗 */
.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=88);
}
.white_content {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 55%;
    height: 55%;
    padding: 20px;
    z-index: 1002;
    overflow: auto;
    border: 1px solid orange;
    background-color: white;
}
.white_content span{
    float: right;
    color: #7e7373;
    cursor: pointer;
    font-size: 1.6rem;
    border:0;
}
#popover{
    display: block;
    position: relative;
    width: 150px;
    margin-top: 0 !important;
}
#popover span{
    left: 18%;
}
.arrow{
    left: 18%;
}
.popover-content{
    padding: 0 !important;
}
.popover-content a{
    color: blue;
    margin-left: 10px; 
}
.popover-content a:hover{
    color: blue;
}