@media screen and (max-width: 767px) {
    /* html{
        font-size: 10px !important;
    } */
    /*手机端  */
    /*nav  */
    .nav-logo{
        display: inline;
        line-height: 4
    }
    .nav-logo img{
        width: 110px;
    }
    .nav-text{
        display: inline-block;
        line-height: 3;
    }
    .nav-ul{
        line-height: 80px;
    }
    .nav-ul li{
        display: inline-block;
        font-size: 1.4rem;
        list-style-type: none;
        margin: 0 4px;
    }
    .head{
         display: none; 
    }
    /* about */
    .theHeadlines{
        display: none;
    }
    .item img{
        min-height: 200px;
    }
    .carousel-inner h3{
        font-size: 3rem !important;
        top: 10px !important;
    }
    /*  */

    .horn img{
        height: 70px;
        width: 70px;
    }

    /*footer  */
    .foot{
        display: none !important;
    }
    .footer2{
        display: block !important;
    }
    .container{
        width: 100% !important;
    }
    /* .head-right {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px rgba(50,50,50,0.0) !important;
    }
    .head ul li a{
        display: inline-block;
    } */
    
    
    /*悬浮区  */
    .suspension{
        display: none;
    }
    /*产品价格  */
    .content {
        padding: 0px !important
        ;
    }
    /*合作案例  */
    .anli-bg-content{
        padding: 0px !important;
    }
    .frame{
        border:0px solid;
    }
    .th a{
        margin: 0px !important;
        padding: 0px !important;
        height: 42px;
    }
    .panel-footer{
        line-height: 2;
        height: 50px;
    }
    .panel-body h4{
        font-size: 1.8rem !important;
    }
    .panel-body p{
        font-size: 1.5rem !important;
    }
    .mar{
        margin: 0 10px;
    }
    .column li{
        margin: 0px !important;
    }
    /*关于我们  */
    .synopses-conten{
        width:100% !important;
        height: auto !important;
        margin-left: 0 !important;
    }
    .synopses-conten h2,
    .synopses-conten p{
        top:auto;
    }
    .learnMore{
        height: auto;
    }
}