.navbar-default {

  .navbar-nav {

    .fun-wrap & {
      > li:first-child > a {
        color: #16cd6f;

      }
    }
    .product-wrap & {
      > li:nth-child(2) > a {
        color: #16cd6f;

      }
    }
    .productPrice-wrap & {
      > li:nth-child(3) > a {
        color: #16cd6f;

      }
    }

    .coo-wrap & {
      > li:nth-child(4) > a {
        color: #16cd6f;
      }
    }

    .us-wrap & {
      > li:nth-child(5) > a {
        color: #16cd6f;
      }
    }
    // .loingwan-wrap & {
    //     > li:nth-child(4) > a {
    //     color: #16cd6f;

    //   }
    // }
    .ding-wrap & {
        > li:first-child > a {
        color: #16cd6f;

      }
    }
    .xz-wrap & {
        > li:nth-child(1) > a {
        color: #16cd6f;

      }
    }
    .machine-wrap & {
      > li:nth-child(2) > a {
        color: #16cd6f;

      }
    }
  }
}
// .nav{
//   .nav-ul{
//     .product-wrap & {
//       > li:first-child > a {
//         color: #16cd6f;

//       }
//     }
//     .productPrice-wrap & {
//       > li:nth-child(2) > a {
//         color: #16cd6f;

//       }
//     }

//     .coo-wrap & {
//       > li:nth-child(3) > a {
//         color: #16cd6f;
//       }
//     }

//     .us-wrap & {
//       > li:nth-child(4) > a {
//         color: #16cd6f;
//       }
//     }
//     .loingwan-wrap & {
//         > li:nth-child(2) > a {
//         color: #16cd6f;

//       }
//     }
//     .ding-wrap & {
//         > li:first-child > a {
//         color: #16cd6f;

//       }
//     }
//     .xz-wrap & {
//         > li:nth-child(1) > a {
//         color: #16cd6f;

//       }
//     }
//   }
// }

.btn-main{
  color: #fff;
  background-color: #06ca68;
  border-color: #06a854;

  &:hover{
    color: #fff;
    background-color: #06c364;
    border-color: #06a854;
  }
}

video{
  border: 2px solid #06a854;
  padding: 20px;
}

h3{
  text-align: center;
  font-size:2.4rem;
  cursor: pointer;
  font-family: 微软雅黑 !important;
}


.h3title{
  font-weight: bold;
  color: #717171;
}
