.navbar-default {

  .navbar-nav {

    .fun-wrap & {
      > li:first-child > a {
        color: #16cd6f;
        
      }
    }
    // .product-wrap & {
    //   > li:nth-child(2) > a {
    //     color: #16cd6f;
        
    //   }
    // }
    .productPrice-wrap & {
      > li:nth-child(2) > a {
        color: #16cd6f;
        
      }
    }

    .coo-wrap & {
      > li:nth-child(3) > a {
        color: #16cd6f;
      }
    }

    .us-wrap & {
      > li:nth-child(4) > a {
        color: #16cd6f;
      }
    }
    .loingwan-wrap & {
        > li:nth-child(4) > a {
        color: #16cd6f;
        
      }
    }
    .ding-wrap & {
        > li:first-child > a {
        color: #16cd6f;
        
      }
    }
    .xz-wrap & {
        > li:nth-child(1) > a {
        color: #16cd6f;
        
      }
    }
    .machine-wrap & {
      > li:nth-child(2) > a {
        color: #16cd6f;
        
      }
    }
  }
}
// .nav{
//   .nav-ul{
//     .product-wrap & {
//       > li:first-child > a {
//         color: #16cd6f;
        
//       }
//     }
//     .productPrice-wrap & {
//       > li:nth-child(2) > a {
//         color: #16cd6f;
        
//       }
//     }

//     .coo-wrap & {
//       > li:nth-child(3) > a {
//         color: #16cd6f;
//       }
//     }

//     .us-wrap & {
//       > li:nth-child(4) > a {
//         color: #16cd6f;
//       }
//     }
//     .loingwan-wrap & {
//         > li:nth-child(2) > a {
//         color: #16cd6f;
        
//       }
//     }
//     .ding-wrap & {
//         > li:first-child > a {
//         color: #16cd6f;
        
//       }
//     }
//     .xz-wrap & {
//         > li:nth-child(1) > a {
//         color: #16cd6f;
        
//       }
//     }
//   }
// }