/*滑块  */
.slider{
    padding: 0 !important;
}
.btn1{
    padding: 0;
    position: relative;
}
.btn2 ul,
.btn1 ul{
    min-width: 145px;
    background: #fff;
    padding: 0;
}
/* 轮播 */
.carousel-indicators{
    bottom: 1rem !important;
}
ol.carousel-indicators li{
    background: #06ca68;
}
.carousel-control{
    font-size: 80px !important;
    width: 4rem !important;
} 
.carousel-inner h3{
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: #fbfffc;
    font-size: 4em;
} 
.carousel-control.left,
.carousel-control.right{
    background-image:none !important;
}
.carousel a{
    height: auto;
}
a.carousel-control.left span,
a.carousel-control.right span{
    font-size: 35px;
    color: #f7f7f7;
    opacity: 1;
}
/*新闻  */
.theHeadlines{
    margin-top: 10px;
    padding: 0 !important;
}
.new{
    line-height: 4rem;
}
.theHeadlines-left{
    float: left;
}
.theHeadlines-left,
.theHeadlines-right{
    padding: 0 !important;
}
.new img{
    height: 25px;
    width: 120px;
}
.titleName{
    font-size: 12px;
    color: #0c1014;
    text-decoration: none;
}
.titleName:hover{
    color: #62cb68;
    text-decoration: none;
}
.spa1 a{
    color: #b90a0a;
}
.spa1{
    border:1px solid #b90a0a;
    color: #b90a0a;
    font-size: 12px;
    padding: 0 4px;
    cursor: pointer;
}
 .spa1 a:hover{
    color: #b90a0a;
    text-decoration: none;
} 
.more a{
    float: right;
    font-weight: bold;
    font-size: 15px;
    font-family: 微软雅黑;
    color: #0c1014;
    line-height: 4rem;
}
.more a:hover{
    color: #919191;
    text-decoration: none;
}
/*展示区  */
.exhibition{
    margin-top: 10px;
    background-color: #fff;
    padding: 0 !important;
}
.exhibition img{
    width: 100%;
}
.exhibition-main p{
    text-align: center;
    font-size: 12px;
    font-family: 微软雅黑;
}
.exhibition-main a{
    cursor: pointer;
}
.exhibition-main a img:hover{
    box-shadow: 1px 3px 5px 4px rgba(50,50,50,0.3);
}
.exhibition-bg{
    overflow: hidden;
}
.case{
    padding: 0 !important;
}
.carouselFigure{
    position: relative;
    margin: 10px 30px 0 30px;
}
.yli-nav{
    /* width: 60%; */
    margin: 16px 2rem 16px 0rem;
}
.yli-nav li{
    list-style: none;
    display: inline;
    margin: 0 20px 0 20px;
}
.open ul{
    position: absolute;
    min-width: 130px;
    top: 66px;
    left: 52% !important;
}
.head-center a:hover{
    text-decoration: none;
}
/* 案例 */
.case-left,
.case-right{
    position: relative;
}
.case img{
    width: 100%;
}
.setting-warp{
    position: relative;
}
#triangle-up{
    position: absolute;
    width: 0;
    height: 0px;
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #c3c3c3;
    margin: -8px 0 0 31px;
    left: -22px;
    top: 29px;
}
.b{
    position: absolute;
    list-style: none;
    padding: 0;
    border: 1px solid;
    left: 0px;
    top: 13px;
}
.text-describe-l,
.text-describe-r{
    position: absolute;
    height: 100%;
    bottom:0px;
}
.text-describe-l{
    background-color: rgba(13,125,250,0.8);
}
.text-describe-r{
    background-color: rgba(106,172,64,0.8);
}
.case-left a:hover,
.case-right a:hover{
    color: rgb(203,206,201);
}
.case-logo{
    float: left;
    height: 100%;
    width: 30%;
}
.case-logo img{
    position: relative;
}
.case-conten{
    border-left: 1px solid white;
    height: 100%;
    width: 70%;
    float: left;
}
.case-conten p{
    font-size: 24px;
    color: white;
    margin-left: 3rem;
    max-height: 100%;
}
.case-conten a{
    color: white;
    border:1px solid;
    padding: 7px 18px;
    margin-left: 3rem;
}
.yany{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.yany img{
    position: absolute;
    height: 100%;
    width:100%;
    right: 0;
}
.horn{
    position: absolute;
    height: 100%;
    width: auto;
    right: 0;
    bottom: 0;
}
.horn img{
    height: 10rem;
    width: 10rem;
}
.case-left a,
.case-right a{
    position: absolute;
    bottom: 32%;
    color: white;
    right: 38%;
    font-size: 15px;
    border: 1px solid;
    padding: 0 0.5rem;  
} 
/*产品价格  */
/* vrsionDisplay */
.vrsionDisplay a:hover{
    text-decoration:none;
}
.vrsionDisplay{
    background-image: url(../images/bg-pPrice.png);
}
.content{
     padding: 40px 55px !important; 
}
.package img,
.enterprise img,
.freeAdmission img{
    height: 123px;
    width: 123px;
    margin-top: 40px;
}
.package,
.enterprise,
.freeAdmission{
    text-align: center;
    background-color: rgba(240, 248, 255,0.8);
}
.vrsionDisplay p{
    margin: 10px;
    font-size: 12px;
}
.vrsionDisplay h3{
    font-size: 39px;
    font-weight: bold;
    margin-bottom: 20px;
}
.vrsionDisplay span{
    border: 1px solid #ed1c24;
    color: #ed1c24;
    padding: 5px 20px;
    font-size: 24px;
}
/* .enterprise span{
    border: 1px solid #60c76e;
    color: #60c76e;
    cursor: pointer;
} */
.vrsionDisplay button{
    background-color: #3b95da;
    color: white;
    border: 1px solid #61baff;
    padding: 5px 27px;
    font-size: 18px;
    font-family: 微软雅黑;
    border-radius: 5px;
    margin-bottom: 20px;
}
.vrsionDisplay button:hover{
    box-shadow: 0px 1px 10px #2499f3;
}
/* 弹窗 */
.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=88);
}
.white_content {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 55%;
    height: 55%;
    padding: 20px;
    z-index: 1002;
    overflow: auto;
    border: 1px solid orange;
    background-color: white;
}
.white_content span{
    float: right;
    color: #7e7373;
    cursor: pointer;
    font-size: 16px;
    border:0;
}
#popover{
    display: block;
    position: relative;
    width: 150px;
    margin-top: 0 !important;
}
#popover span{
    left: 18%;
}
.arrow{
    left: 18%;
}
.popover-content{
    padding: 0 !important;
}
.popover-content a{
    color: blue;
    margin-left: 10px; 
}
.popover-content a:hover{
    color: blue;
}
/*自安装窗口  */
.tc-block{
    margin-left: 3%;
    margin-right: 3%;
    background-color: white; 
}
.tc-content{
    width: 74%;
    margin-left: 13%;
}
.tc-content span{
    position: absolute;
    right: -25px;
    top: 45%;
    border: 1px solid #fff;
    padding: 8px;
    font-size: 30px;
    color: #06ca67;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 0px 4px #7e7d7d;
}
.tc-content h2{
    font-size: 24px;
}
.tc-weixin{
    width: 65%;
}
.tc-content p{
    text-align: left;
    font-size: 16px;
}
.tc-row{
    margin-left: 10%;
    margin-right: 10%;
}
.tc-step{
    padding: 30px 0;
    border-right:1px solid #06ca68;
    box-shadow: 1px 2px 9px #d1d1d1;
    box-sizing: border-box;
}
/*版本特性  */
.guide{
    background-color: white;
}
.guide-pa{
    padding: 0 !important;
}
.subTitle{
    background-color: #eaeaea;
    height: 64px;
}
.guide-pa h4{
    text-align: center;
}
.subTitle h5{
    text-align: center;
    margin: 0;
    line-height: 64px;
}
.tabe{
    display: table-caption !important;
    float: none !important;
    border-right: 1px solid #cdcdcd;
}
.tabe a{
    margin-right:0px !important;
}
.active a{
    border:0px solid !important;
}
.active>a{
    background-color: #06ca68 !important;
    border-radius: 0px !important;
    color: white !important;
}
.nav>li>a{
    padding: 20px 40px !important;
}
.banb{
    text-align: center;
}
.banb-text{
    font-size: 20px;
    font-weight: bold;
    display: inline;
}
.banb-tx{
    display: inline-block;
    text-align: center;
    padding: 30px 0;
}
 .inline-block{
    border-bottom: 0px solid !important;
    float: left;
} 
.inline-block abs{
    display: inline-block;
    position: absolute;
    top: 55px;
}

/* 标签 */
.tab-page{
    min-width: 520px;
    position: relative;
    margin-top: 45px;
}

.th{
    width: 25%;
    text-align: center;
    margin-bottom: -3px !important;
}
.th a{
    font-size: 16px;
    color: #707070;
    font-weight: 400;
    border-top:10px solid #4b95fa;
}
.tab-content{
    background-color: white;
    margin-bottom: 3rem;
}
.column li{
    float: none;
    margin:10px 30px 10px 30px;
    font-size: 16px;
}
/*产品  */
/*  */
.product{
    text-align: center;
    background-color: white;
}
.function{
     padding-top: 50px;
}
h4{
    margin: 55px 0 !important;
}
.product p{
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-family: 微软雅黑;
}
.product a{
    text-align: left;   
}

/*合作案例  */
/*  */
.bg-anli{
    background-image: url(../images/anli-bg.png);
    min-width: 750px;
}
.frame{
    border:7px solid; 
}
.anli-bg-content{
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 165px;
}
h2.anli-h2{
    font-size: 24px;
}
/*面板  */
.panel-heading{
    background-color: #4b95fa !important;
    color: white !important;
}
.neirong span{
    font-size: 16px;
    color: #000;
    font-weight: 300;
}
.panel-body h4{
    font-size: 2rem;
    margin:15px 0 !important;
}
.panel-body p{
    font-family: 微软雅黑;
    font-size: 14px;
    color: #b4b4b4;
}
.panel-footer{
    background-color: white !important;
    color: #b4b4b4 !important;
}
.mar{
    margin: 0 2rem;
}

/*关于我们  */
/*  */
.synopses-bg{
     background-image: url(../images/bg-gy.png); 
}
.synopses-conten{
    width: 70%;
    height: 455px;
    margin-left: 15%;
    font-weight: bold;
    color:white;
}
.synopses-conten h2{
    position: relative;
    top: 80px;
    /* margin-bottom: 30px; */
}
h2.h3{
    font-size: 24px;
    font-weight: bold;
    color: #717171;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}
.ylu{
    letter-spacing: 26px;
}
.synopses-conten p{
    position: relative;
    top: 100px;
    font-size: 16px;
    line-height: 35px;
}


.us-bg{
    background-color: white;
    padding: 80px 0 20px 0;
}
.media{
    max-width: 70%;
    margin: 50px 15%;
}
.panel-body{
    background-color: white;
    height: 220px;
    padding: 15px;
}
.learnMore{
    background-color: white;
    height: 220px;
    padding: 15px;
    overflow: hidden;
    margin-top: 20px;
}
.learnMore:hover{
    box-shadow: 0px 2px 10px #0e0e0e;
    cursor: pointer;
    padding: 14px;
    border-bottom: 10px solid #06ca68;
}
.bg-white span{
    font-weight: bold;
}
h4 p,
.bg-white span{
    font-family: 微软雅黑;
    font-size: 16px;
    color: #000;
}
h4 a{
    line-height: 110px;
}
h4 p{
    padding-top: 45px;
    font-weight: 400;
}
.circular{
    border:2px solid #06ca68;
    padding: 0px 3px;
    border-radius: 100px;
    margin-bottom: 35px;
}
.circular i{
    color: #06ca68;
}
.border-blue{
    height: 15px;
    background-color: #388bec;
}
/* lw */
.bg-lw{
    background-image:url(../images/bg-lw.png);
}
.lw-bg-content{
    width: 60%;
    margin-left: 20%;
    line-height: 28rem;
}
.lw-logo img{
    width: 200px;
}
.lw-h2{
    line-height: 28rem;
    color: white;
    text-align: center;
}
.bg-white{
    background-color: white;
}
.lw-problem{
    padding: 0 20%;
}
.painPoint{
    background-color: #f7f7f7;
}
.lw-h3{
    font-weight: bold;
    margin: 0;
    height: 66px;
    line-height: 66px;
     background-color: white; 
}
.lw-text{
    margin: 45px 0;
}
.bg-ash{
    padding: 0 !important;

}
.bg-ash p{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    background-color: #f7f7f7;
}

.shaer{
    position: absolute;
    top: 20%;
    right: -60%;
}
.shaer p{
    margin: 0;
    width: 100%;
    background-color: white;
}


/*ding  */
.ding{
    background-color: white;

}
.ding-content{
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 1px -22px 15px #f4efef;
}
.ding-cont{
    padding-top: 60px;
    padding-bottom: 60px;
    /* box-shadow: 1px -22px 15px #f4efef; */
}
.ding-h2{
    margin-top: 15rem;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
}
.ding-h3{
    margin-bottom: 25px;
    color: #06ca68;
    font-size: 28px;
    font-weight: bold;
}
.ding-content img{
    width: 80%;
}
.ding-cont img{
    width: 80%;
}

/*协作办公  */
.xz-video{
    width: 100%;
}  
.thumbnail{
    padding: 30px;
}
.thumbnail p{
    width: 80%;
    margin-left: 10%;
}
.xz-bg{
    padding: 0;
}
.xz-bg img{
    width: 100%;
}
.xz-bg-ash>p{
    line-height: 5;
    width: 70%;
    margin-left: 15%;
}