body{
    background-color: #f7f7f7!important;
}
h3{
    text-align: center;
    font-size:24px; 
    cursor: pointer;
    font-family: 微软雅黑 !important;
}
.logo img{
    max-width: 90px;
    margin: 1rem 0;
}
.head a{
    color: #0c1014;
    font-size: 14.4px;
}
.head a:hover{
    color: #06ca68;
    /* text-shadow: 1px 2px 1px #0c1014; */
}
.head,
.slider,
.case,
.foot{
    margin-top: 30px;
}



.text-right a span{
    border: 1px solid rgba(255,255,255,0.0);
    box-sizing: border-box;
    padding: 12px 18px 12px 18px;
    border-radius: 100px;
    background-color: #ffffff;
    color: #06ca68;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    position: relative;
    top: 31px;
}
.text-right a span:hover{
    box-shadow: 0px 3px 0px 1px #ccd6cd;
}
.btn1{
    padding: 0;
    position: relative;
}
.btn2 ul,
.btn1 ul{
    min-width: 145px;
    background: #fff;
    padding: 0;
}

/* 新闻部分 */
.theHeadlines{
    /* margin: 0 53px; */
    margin-top: 10px;
}
.theHeadlines h4{
    color: #b90a0a;
    
    font-size: 24px;
}
.titleName{
    font-size: 12px;
    color: #0c1014;
    text-decoration: none;
}
.titleName:hover{
    color: #62cb68;
    text-decoration: none;
}
.spa1{
    border:1px solid #b90a0a;
    color: #b90a0a;
    font-size: 12px;
    padding: 0 4px;
    cursor: pointer;
}
.spa1:hover{
    color: #06ca68;
    border:1px solid #06ca68;
}
.more a{
    float: right;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #0c1014;
    line-height: 4rem;
}
.more a:hover{
    color: #919191;
    text-decoration: none;
}



.exhibition{
    margin-top: 10px;
    background-color: #fff;
}
.case{
    /* height: 550px; */
    /* margin: 35px 53px 0 53px; */
    padding: 0 !important;
}
.carouselFigure{
    position: relative;
    margin: 10px 30px 0 30px;
}

.yli-nav{
    /* width: 60%; */
    margin: 32px 2rem 32px 2rem;
}
.yli-nav li{
    list-style: none;
    display: inline;
    margin: 0 20px 0 20px;
}
.open ul{
    position: absolute;
    min-width: 130px;
    top: 66px;
    left: 52% !important;
}
.head-center a:hover{
    text-decoration: none;
}


/* 轮播 */
.carousel{
    /* margin:0px 53px 0px 53px; */
} 
.carousel-indicators{
    bottom: 1rem !important;
}
ol.carousel-indicators li{
    background: #06ca68;
}
.item img{
    width: 100%;
    height: 100%;
}
.carousel-control{
     /* padding: 14rem 7rem 19rem 7rem; 
    width: 14rem !important; */
    font-size: 80px !important;
    width: 4rem !important;
} 
.carousel-inner h3{
    position: absolute;
    bottom: 30rem;
    width: 100%;
    text-align: center;
    color: #fbfffc;
} 
.item img {
	height: 100% !important;
}
.carousel-control.left,
.carousel-control.right{
    background-image:none !important;
}
.carousel a{
    height: auto;
}
a.carousel-control.left span,
a.carousel-control.right span{
    font-size: 35px;
    color: #f7f7f7;
    opacity: 1;
}




/* .exhibition{
    width: 100%;
    height: 530px;
    background: #ffffff;
} */
img{
    width: 100%;
}
.bg-peimary p{
    background-color: white;
    color: #0e0e0e;
}
/* .exhibition-main{
    width: 94%;
    position: relative;
    left: 3%;
    height: 515px;
} */
.exhibition-main p{
    text-align: center;
    font-size: 12px;
    font-family: 微软雅黑;
}
.exhibition-main a{
    cursor: pointer;
}
.exhibition-main a img:hover{
    box-shadow: 1px 3px 5px 4px rgba(50,50,50,0.3);
}


/* .triangle{
    height: 0px;
    width: 0px;
    border: 110px solid;
    padding: 0px;
    position: relative;
    border-color: #ff8518 #ff8518 rgba(255,255,255,.0) rgba(255,255,255,.0);
    box-sizing: border-box;
} */


.a{
     position: relative; 
    /* padding: 0 !important; */
}
.case-left,
.case-right{
    position: relative;
}
/* .case-left{
    padding-left: 0 !important;
}
.case-right{
    padding-right: 0 !important;
} */

.setting-warp{
    position: relative;
}
#triangle-up{
    position: absolute;
    width: 0;
    height: 0px;
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #c3c3c3;
    margin: -8px 0 0 31px;
    left: -22px;
    top: 29px;
}
.b{
    position: absolute;
    list-style: none;
    padding: 0;
    border: 1px solid;
    left: 0px;
    top: 13px;
}
.text-describe-l,
.text-describe-r{
    position: absolute;
    height: 100%;
    bottom:0px;
}
.text-describe-l{
    background-color: rgba(13,125,250,0.8);
}
.text-describe-r{
    background-color: rgba(106,172,64,0.8);
}
.case-left-a{
    /* margin:7rem 0 !important; */
    height: 100%;
    width: 100%;
}
.case-logo{
    /* margin: 4rem 0; */
    float: left;
    height: 100%;
    width: 30%;
}
.case-logo img{
    position: relative;
}
.case-conten{
    border-left: 1px solid white;
    height: 100%;
    width: 70%;
    float: left;
}
.case-conten p{
    font-size: 24px;
    color: white;
    margin-left: 3rem;
    max-height: 100%;
}
.case-conten a{
    color: white;
    border:1px solid;
    padding: 7px 18px;
    margin-left: 3rem;
}
.yany{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.yany img{
    position: absolute;
    height: 100%;
    width:100%;
    right: 0;
}
.horn{
    position: absolute;
    height: 100%;
    width: auto;
    right: 0;
    bottom: 0;
}
.horn img{
    height: 10rem;
    width: 10rem;
}
.case-left a,
.case-right a{
    position: absolute;
    bottom: 32%;
    color: white;
    right: 38%;
    font-size: 15px;
    border: 1px solid;
    padding: 0 0.5rem;  
} 
/* 底部 */
.foot{
    background-color: #323232;
    /* margin: 35px 53px 0 53px; */
}
.foot-logo{
    margin-left: 3rem;
}
.foot-logo img{
    margin-top: 3rem;
}
 .foot-in{
    margin-left: 2rem !important;
    margin-top: 2rem !important;
} 
.foot-links{
    padding: 0;
}
.foot-links a{
    color: #aeaeae;
    font-family: 微软雅黑;
}
.foot-links a:hover{
    color: #f1f1f1;
     text-decoration: none; 
}
.td a{
    color: #f1f1f1;
    list-style: none;
}
.td{
    height: 2rem;
    line-height: 0rem;
}
.qq,
.weixin{
    float: right !important;
}
.weixin span,
.qq span{
    color: #919191;
    font-size: 12.34px;
    margin: 0 1rem;
}
.weixin span:hover,
.qq span:hover{
    color: #f1f1f1;
    /* text-decoration: none; */
}
.weixin img:hover,
.qq img:hover{
    box-shadow: 0px 2px 5px 2px rgb(152,150,147);
}
.foot-bottom-left{
    margin-left: 3rem;
    color: #aeaeae;
}
.foot-bottom-right{
    color: #aeaeae;
    font-size: 12px;
    float: right;
}

/* .tringle-up{
    position: absolute;
    width: 0;
    height: 0px;
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #c3c3c3;
    margin: -8px 0 0 31px;
    left: -22px;
    top: 29px;
}
.dropdown{
    position: absolute;
    list-style: none;
    padding: 0;
    border: 1px solid;
    left: 0px;
    top: 13px;
} */