<footer class="container foot">
    <div class="row foot-top">
        <div class="col-md-2 col-sm-2 col-xs-6">
            <div class="foot-logo text-right"><img src="/assets/images/foot-logo.png" alt=""></div>
        </div>
    </div>
    <div class="row foot-in">
        <div class="col-md-7 col-sm-7">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <ul class="foot-links">
                        <li class="td"><a href="">快速链接</a></li>
                        <li><a href="about.html">首页</a></li>
                        <li><a href="product.html">产品</a></li>
                        <li><a href="productPrice.html">产品价格</a></li>
                        <li><a href="cooperationCase.html">合作案例</a></li>
                        <li><a href="us.html">行业方案</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <ul class="foot-links">
                        <li class="td"><a href="">了解一粒云</a></li>
                        <li><a href="">关于我们</a></li>
                        <li><a href="">官方博客</a></li>
                        <li><a href="">猎云网专访</a></li>
                        <li><a href="">华为扶持基金</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-5 col-xs-4">
                    <ul class="foot-links">
                        <li class="td"><a href="">联系我们</a></li>
                        <li><a href="">售前邮箱</a></li>
                        <li><a href="">在线联系</a></li>
                        <li><a href="">中文 | English</a></li>
                        <li><a href="" class="tb"><span class="glyphicon glyphicon-earphone"></span> (0755)3394-2625</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="row">
                <div></div>
                <div class="col-md-5 col-sm-5 col-xs-6 qq">
                    <a href="">
                            <img src="/assets/images/qq.png" alt="">
                            <span>一粒云QQ群</span>
                        </a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-6 weixin">
                    <a href="">
                            <img src="/assets/images/weixin.png" alt="">
                            <span>一粒云微信</span>
                        </a>
                </div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="row foot-bottom">
        <div class="col-md-8 col-sm-7">
            <div class="foot-bottom-left">
                <span>©2017 深圳一粒云科技有限公司 ALL Right Reserved | 联系邮箱 : <a class="text-primary" href="">service@yliyun.com</a> | <a class="text-primary" href="">粤ICP备 15088058号</a></span>
            </div>
        </div>
        <div class="col-md-4 col-sm-5">
            <div class="foot-bottom-right">
                <span>提升管理技巧，提炼数据价值，打造企业数据保险箱</span>
            </div>
        </div>
    </div>
</footer>

<footer class="footer2">

    <div class="f-bg-l">
        <div class="f-main">
            <div class="f-img center-block">
                <img class="" src="/assets/images/f-logo.png" alt="">
                <h4>一粒云网盘为您的数据保驾护航</h4>
                <p>第三方加密，为联通、公安局、海关等提供安全技术保障</p>
            </div>
        </div>
    </div>
    <div class="f-bg-h">
        <span>©2017 深圳一粒云科技有限公司|<a class="text-primary" href="">粤ICP备 15088058号</a></span>
    </div>
</footer>