<footer class="container foot">
    <!-- <div class="row foot-top">
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="foot-logo text-right"><img src="/assets/images/foot-logo.png" alt=""></div>
        </div>
    </div> -->
    <div class="row foot-in">
        <div class="col-md-8 col-sm-7">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <ul class="foot-links">
                        <li class="td">快速链接</li>
                        <li><a href="index.html">首页</a></li>
                        <li><a href="fun.html">功能</a></li>
                        <li><a href="product.html">产品</a></li>
                        <li><a href="productPrice.html">产品价格</a></li>
                        <li><a href="coo.html">客户案例</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <ul class="foot-links">
                        <li class="td">了解一粒云</li>
                        <li><a href="us.html">关于我们</a></li>
                        <li><a target="_blank" href="http://www.yliyun.com/blog/">官方博客</a></li>
                        <li><a target="_blank" href="http://mt.sohu.com/20160510/n448587153.shtml">猎云网专访</a></li>
                        <li><a target="_blank" href="http://www.hwclouds.com/">华为扶持基金</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-5 col-xs-4">
                    <ul class="foot-links">
                        <li class="td">联系我们</li>
                        <li><a target="_blank" href="mailto:1425590821@yqq.com">售前邮箱</a></li>
                        <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2941390949&site=qq&menu=yes">在线联系</a></li>
                        <li><a>中文</a> | <a disabled="disabled">English</a></li>
                        <li class="tb"><span class="glyphicon glyphicon-earphone"></span> (0755)3394-2625</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-5">
            <div class="row">
                <!-- <div></div> -->

                <div name="weixin" class="col-md-6 col-sm-6 col-xs-6 weixin" id="weixin">

                    <img src="/assets/images/weixin.png" alt="一粒云微信"><br>
                    <span>一粒云微信</span>

                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 qq">

                    <img src="/assets/images/qq.png" alt="一粒云QQ群"><br>
                    <span>一粒云QQ群</span>

                </div>
                <!-- <div></div> -->
            </div>
        </div>
    </div>
    <div class="row foot-bottom">
        <div class="col-md-8 col-sm-7">
            <div class="foot-bottom-left">
                <span>©2018 深圳一粒云科技有限公司 ALL Rights Reserved | 联系邮箱 : <a class="text-primary" target="_blank" href="mailto:service@yliyun.com">service@yliyun.com</a> | <a class="text-primary" href="http://www.miitbeian.gov.cn">粤ICP备 15088058号</a></span>
            </div>
        </div>
        <div class="col-md-4 col-sm-5">
            <div class="foot-bottom-right">
                <span>提升管理技巧，提炼数据价值，打造企业数据保险箱</span>
            </div>
        </div>
    </div>
</footer>

<footer class="footer2">
    <div class="f-bg-l">
        <div class="f-main">
            <div class="f-img center-block">
                <img class="" src="/assets/images/f-logo.png" alt="云安全">
                <h4>一粒云网盘为您的数据保驾护航</h4>
                <p>第三方加密，为联通、公安局、海关等提供安全技术保障</p>
            </div>
        </div>
    </div>
    <div class="f-bg-h">
        <span>©2018 深圳一粒云科技有限公司|<a class="text-primary" target="_blank" href="http://www.miitbeian.gov.cn">粤ICP备 15088058号</a></span>
    </div>
</footer>