<div class="suspension">
    <div class="pre-sale">
        <a href=""><img src="../assets/images/f-sq.png" alt="">
            <div class="text-prompt">售前<br>QQ</div>
        </a>
    </div>
    <div class="division"></div>
    <div class="customer-service">
        <a href=""><img src="../assets/images/f-sh.png" alt="">
            <div class="text-prompt">售后<br>QQ</div>
        </a>
    </div>
    <div class="division"></div>
    <div class="up">
        <a href=""><img src="../assets/images/f-zd.png" alt=""></a>
        <div class="text-prompt1">返回<br>顶部</div>
    </div>
</div>

<!-- jQuery -->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>


<!--鼠标的进入，移出事件  -->
<script>
    $(document).ready(function () {
        $("#btn-fadeToggle").click(function () {
            $("#tc").fadeToggle("slow");
        });
    });

</script>