<div class="gototop">

    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    <br>

    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=380627112&site=qq&menu=yes" >售前QQ</a>
    <br>

    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2941390949&site=qq&menu=yes" >售后QQ</a>




</div>

<!-- jQuery -->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>






<!--百度统计-->
<script type="application/javascript">
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?19cc5894e92704746f7b92fec1837367";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

</script>