<!-- nav -->
<nav class="navbar navbar-default head" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
			        <span class="sr-only">切换导航</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		        </button>
            <a class="navbar-brand" href="about.html"><img src="../assets/images/yliyun.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav" id="active2">
                
                <li><a href="product.html">功能</a></li>
                <li><a href="productPrice.html">产品价格</a></li>
                <li><a href="coo.html">合作案例</a></li>
                <li><a href="us.html">关于我们</a></li>
            </ul>
            <li class="head-right"><a href="productPrice.html">体验产品</a></li>
        </div>
    </div>
</nav>
<!--移动端  -->
  <!-- <nav class="nav">
    <div class="nav-logo">
        <a href="about.html"><img src="../assets/images/yliyun.png" alt=""></a>
    </div>
    <div class="nav-text pull-right">
        <ul class="nav-ul">
            <li><a href="product.html">产品</a></li>
            <li><a href="productPrice.html">产品价格</a></li>
            <li><a href="coo.html">合作案例</a></li>
            <li><a href="us.html">关于我们</a></li>
        </ul>
    </div>
</nav>   -->