<!-- nav -->
<nav class="navbar head" role="navigation">
    <div class="navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="../assets/images/yliyun.png" alt="一粒云企业网盘">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav" id="active2">

                    <li>
                        <a href="fun.html">功能</a>
                    </li>
                    <li id="prod">
                        <a href="product.html">产品</a>
                        <div class="machine">
                            <div class="machine-main" id="prod2">

                                <!-- <div class="col-md-3 col-sm-3 col-xs-3 m-product">
                                    <div class="n-product-img">
                                        <a href="nas.html">
                                            <img class="center-block" src="../assets/images/小机器1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="m-product-con">
                                        <h5>小机器1</h5>
                                        <span>￥2000</span>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="productPrice.html">产品价格</a>
                    </li>
                    <li>
                        <a href="coo.html">客户案例</a>
                    </li>
                    <li>
                        <a href="us.html">关于我们</a>
                    </li>
                </ul>
                <li class="head-right">
                    <a target="_blank" href="http://app.yliyun.com/#!/login">体验产品</a>
                </li>
            </div>
        </div>
    </div>
</nav>